{% extends "main.html" %}
{% load static %}
{% block client_details %}
    
<div class="client_details">
    <div class="client_top">
        <h1>Detalii client:</h1>
    </div>

    <div class="client_center">
        <div class="detalii_produs">
            <div style=' font-size: large; margin: 15px; width:250px'>
                <h4>{{produs}}</h4>
                <h4 >Status produs: </h4>
                <h4 style='color:{{produs.status_color}}; border: 1px solid {{produs.status_color}}'>{{produs.status}}</h4> 
            </div>
            <div>
                <img src="/{{produs.poza}}" hight="300px" width="300px" alt="Poza produs">
            </div>
        </div>
    
        <div class="formular_client">
            <h4>Introdu datele clientului in formularul de mai jos:</h4>
    
            <form action="contract_details" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Denumire produs</th>
                        <th>{{produs}} (COD:{{produs.cod_produs}})</th>
                    </tr>
                    <tr>
                        <td>Societatea /Persoana fizică</td>
                        <td><input type="text" name="nume"></td>
                    </tr>
                    <tr>
                        <td>CNP /CUI</td>
                        <td><input type="number" name="cnp"></td>
                    </tr>
                    <tr>
                        <td>Adresa din CI /CUI</td>
                        <td><input type="text" name="adresa"></td>
                    </tr>
                    <tr>
                        <td>Adresa de livrare produs</td>
                        <td><input type="text" name="adresa_livrare"></td>
                    </tr>
                    <tr>
                        <td>Telefon /mobil</td>
                        <td><input type="tel" name="tel"></td>
                    </tr>
                    <tr>
                        <td>Mail</td>
                        <td><input type="email" name="email"></td>
                    </tr>
                    <tr>
                        <td>Incepand cu data</td>
                        <td><input type="date" name="data_start" value="{{time_date}}"></td>
                    </tr>
                    <tr>
                        <td>Perioada de inchiriere</td>
                        <td>
                            <select name="pret">
                                <option value="{{produs.pret.pret_1}}, 1"> o zi  -  pret {{produs.pret.pret_1}} Ron</option>
                                <option value="{{produs.pret.pret_2}}, 2"> 2 zile  -  pret {{produs.pret.pret_2}} Ron</option>
                                <option value="{{produs.pret.pret_3}}, 3"> 3 zile  - pret  {{produs.pret.pret_3}} Ron</option>
                                <option value="{{produs.pret.pret_4}}, 4"> 4 zile  -  pret {{produs.pret.pret_4}} Ron</option>
                                <option value="{{produs.pret.pret_5}}, 5"> 5 zile  -  pret {{produs.pret.pret_5}} Ron</option>
                                <option value="{{produs.pret.pret_w}}, 2"> weekend (2 zile) - pret {{produs.pret.pret_w}} Ron</option>
                                <option value="{{produs.pret.pret_s}}, 7"> o saptamana (7 zile) - pret {{produs.pret.pret_s}} Ron</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Garantie produs</td>
                        <td>{{produs.garantie}} Ron (returnare la recuperare)</td>
                    </tr>
                </table>
                <div>
                    <button id="button_header" type="button" onclick="history.back()">inapoi</button>
                    <input id="button_header" style="width:100px" class="button_client" type="submit" value="Contract">
                    <span style="padding-left:25px; color:maro">Astazi {{day_now}}.{{month_now}}.{{year_now}}</span>
                </div>
            </form>
        </div>
    </div>
    
</div>

{% endblock client_details %}

