
{% extends "main.html" %}
{% load static %}
{% block db_contracte %}
    
    <div class="db_contracte">
        <div class="db_top">
            <button id="button_header" onclick="history.back()" class="fa fa-long-arrow-left"> datails</button>
            <h1>Database Contracte: </h1>
            <h3>Mai jos sunt afisate toate contractele incheiate </h3>
        </div>
        
        <table >
            <tr>
                <th>Contract</th>
                <th>Terminat</th>
                <th>Client</th>
                <th>Adresa de livrare</th>
                <th>Produs</th>
                <th>Cost</th>
                <th>Vizualizare</th>
                <th>Salveaza PDF</th>
            </tr>
            {% for contract in contracte %}
                {% if contract.data_end <= data %}
                <tr style="background-color: rgba(238, 238, 238, 0.384);">
                    <td>Nr. {{contract.pk}}</td>
                    <td>{{contract.data_end}}</td>
                    <td>{{contract.nume_client}}</td>
                    <td>{{contract.adresa_livrare}}</td>
                    <td>{% for x in produse %}
                            {% if x.slug == contract.produs %}
                                {{x}}
                            {% endif %}
                        {% endfor %}</td>
                    <td>{{contract.cost}} Ron</td>
                    <td>
                        <a href="../contracte/{{contract.pk}}" target="_blank">
                            <button id="button_header" type="button" ><i class="fa fa-eye"></i></button>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <button id="button_header" type="submit"><i class="fa fa-print"></i></button>
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr style="background: rgb(216, 216, 216); color: red">
                    <td>Nr. {{contract.pk}}</td>
                    <td>{{contract.data_end}}</td>
                    <td>{{contract.nume_client}}</td>
                    <td>{{contract.adresa_livrare}}</td>
                    <td>
                        {% for x in produse %}
                            {% if x.slug == contract.produs %}
                                {{x}}
                            {% endif %}
                        {% endfor %}</td>
                    </td>
                    <td>{{contract.cost}} Ron</td>
                    <td>
                        <a href="../contracte/{{contract.pk}}" target="_blank">
                            <button id="button_header" type="button" ><i class="fa fa-eye"></i></button>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <button id="button_header" type="submit"><i class="fa fa-print"></i></button>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        
        
    </div>
    <br><br>
    <button onclick="history.back()" class="fa fa-long-arrow-left"> </button>
{% endblock db_contracte %}