{% extends "main.html" %}
{% load static %}
{% block product_details %}
    
<div class="container_detail">
    <h3 style='color: green'>{{mesaj}}</h3>
    <div class="product_details">
        <div class="stanga">
            <h2>Informatii utile ...</h2>
            <p>
                <b>Informatii despre Societate:</b><br><br>
                &emsp; Firma <b>{{srl}}</b> cu sediul social în <b>{{srl.adresa}}</b>, înregistrată la Registrul Comerţului sub <b>RO {{srl.cui}}</b>, 
                având cont bancar <b>{{srl.banca}}</b> cont <b>{{srl.cont}}</b>, reprezentant legal, <b>{{srl.director}}</b>, în calitate de Administrator, denumit în continuare  <b>PRESTATOR</b>. 
            </p>
            <br>
            <table id= "details_table">
                <tr>
                    <th colspan= 6>
                        <h2>Ultimele 15 contracte incheiate</h2>
                        <a href="../contracte">
                            <button>Vezi toate contractele</button>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Nr. Contract</th>
                    <th>Din data</th>
                    <th>Client</th>
                    <th>Terminat la data</th>
                    <th>Garantie</th>
                    <th>Incasat</th>
                </tr>
                {% for contract in contract_details %}
                    <tr>
                        <td>{{contract.pk}}</td>
                        <td>{{contract.data_start}}</td>
                        <td>{{contract.nume_client}}</td>
                        <td>{{contract.data_end}}</td>
                        <td>{{contract.garantie_produs}} Ron</td>
                        <td>{{contract.cost}} Ron</td>
                    </tr>    
                {% endfor %}
                <tr>
                    <th colspan= 5>
                        <b>Castiguri luna aceasta</b>
                        <td>
                            <b>{{total_incasat}} Ron</b>
                        </td>
                    </th>
                </tr>
                <tr>
                    <th colspan= 5>
                        <b>Castiguri TOTALE din inchirieri</b>
                        <td>
                            <b>{{total_general}} Ron</b>
                        </td>
                    </th>
                </tr>
            </table>
        </div>
        <div class="dreapta">

            <table id= "details_table">
                <tr>
                    <th colspan= 3>
                        <h3> Cele mai inchiriate 10 produse</h3>
                        <a href="../admin/hireman/produs/">
                            <button>Vezi in baza de date</button>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Imagine</th>
                    <th>Denumire produs</th>
                    <th>Inchirieri</th>
                </tr>
                {% for k, v in produse_inchiriate %}
                    <tr>
                        <td>
                            <a href="../{{k.poza}}">
                                <img src="/{{k.poza}}" hight="50px" width="50px" alt="Poza produs">
                            </a>
                        </td>
                        <td >
                            <a href="../products/{{k.slug}}">{{k.nume}}</a>
                        </td>
                        <td>{{v}} pers</td>
                    </tr>
                {% endfor %}
            </table>
            
                    
                
            </div id= "details_table">
        </div>
    </div>
    {% comment %} <img src={% static "img/maintenance2.png"%} alt="" hight="400px" width="400px"> {% endcomment %}
</div>

{% endblock product_details %}
{% comment %} 
                        
{% endcomment %}