{% extends "main.html" %}
{% load static %}
{% block product_details %}
    
<div class="product_details">
    <h1 class="titlu">Detalii despre: {{produs}}</h1>
    
    <div class="caracteristici">
        <div class="stanga">
            <div class="st_1">
                <div class="st_1_status">
                    <h1 >Status produs: </h1><br>
                    <table id='produs_stanga_table'>
                        <th style='color:{{ produs.status_color }}'>
                            <b >{{produs.status}}</b> 
                        </th>
                        <p>{{data_end}}</p>
                    </table>
                </div>
                <img src="/{{produs.poza}}" hight="" width="" alt="Poza produs">
            </div>
            <div class="st_2">
                <h4>lista de returi:</h4>
                <table>
                    <tr>
                        <th>o zi</th>
                        <th>2 zile</th>
                        <th>3 zile</th>
                        <th>4 zile</th>
                        <th>5 zile</th>
                        <th>pe weekend</th>
                        <th>o saptamana</th>
                        <th>garantie</th>
                    </tr>
                    <tr>
                        <th>{{produs.pret.pret_1}}</th>
                        <th>{{produs.pret.pret_2}}</th>
                        <th>{{produs.pret.pret_3}}</th>
                        <th>{{produs.pret.pret_4}}</th>
                        <th>{{produs.pret.pret_5}}</th>
                        <th>{{produs.pret.pret_w}}</th>
                        <th>{{produs.pret.pret_s}}</th>
                        <th>{{produs.garantie}}</th>
                    </tr>
                </table>
                <p>Inchiriaza acest produs: <b>{{produs.nume}}</b></p>
                <div class="pd_buttons">
                    <button id="header_buttons" onclick="history.back()" style='width:120px; height:30px'>inapoi</button>
                    &emsp;&emsp;&emsp;
                    <a href="/{{produs.slug}}/client ">
                        <button id="header_buttons" type="button" style='{{display}}; width:120px; height:30px'>Contract</button>
                    </a>
                    &emsp;&emsp;&emsp;
                    <a href="/{{produs.slug}}/service">
                        <button id="header_buttons" type="button" style='{{display}}; width:120px; height:30px'>Services</button>
                    </a>
                    <span>{{data_end}}</span>
                </div>
            </div>
            
        </div>    
        
        
        <div class="dreapta">
            
            <br>
            <div class="descriere">
                <h4>Descriere:</h4>
                <p>{{produs.descriere}}</p>
            </div>
            <br>
            <div class="specificatii">
                <h4>Specificatii:</h4>
                {% for spec in specificatii %}
                    <li>{{spec}}</li>
                {% endfor %}
            </div>
            

            
        </div>
    </div>
    
    
</div>

{% endblock product_details %}

