{% extends "home.html" %}
{% load static %}
{% block login %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}" defer></script>
</head>
<body>


    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Login</h1><br><br>
            {% comment %} 
            <h1 class="title text-center">Login With</h1>
            <div class="social-login">
                <button class="social-btn">
                    <img class="icon" src="{% static 'icons/gmail.svg' %}" alt="gmail icon">
                    Gmail
                </button>
                <button class="social-btn">
                    <img class="icon" src="{% static 'icons/facebook.svg' %}" alt="gmail icon">
                    Facebook
                </button>
            </div>
            <div class="text-center line form-divider">or</div>
             {% endcomment %}
            <form method="POST" action="" class="login-form spacer">
                {% csrf_token %}
                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/envelope.png' %}" alt="">
                    {{form.email}}
                    {% comment %} <input type="email" class="form-input" placeholder="johndoe@mail.com"> {% endcomment %}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/key.svg' %}" alt="">
                    {{form.password1}}
                    {% comment %} <input type="password" class="form-input" placeholder="password"> {% endcomment %}
                </div>
                <input type="submit" class="submit" value="Login">
            </form>

        </div>


    </div>

    <div class="redirect">
        Don't have an account?&nbsp;<a href="../../signup" class="link">Signup</a>
        <br><br>
        <a href="../../forgot-password" class="link">Forgot password?</a>
    </div>


</body>
</html>

{% endblock login %}
