{% extends "main.html" %}
{% load static %}
{% block product_details %}

    <h3 style='color: green'>{{mesaj}}</h3>
    <h2>Informatii utile ...</h2>
    <ul>Todo details site : <br><br>
        <li>Informatii despre Societate</li>
        <li>adrese utile, facebook, instagram, linktin</li>
        <li>Echipamente inchiriate, pana la ce data</li>
        <li>lista de clienti</li>
        <li>detalii despre contracte in desfasurare</li>
    </ul>
    <h2>Contracte</h2>
    <ul>
        {% for contract in contracte %}
            <li>{{contract}}</li>
        {% endfor %}
    </ul>
    

    <br><br>
    <img src={% static "img/maintenance2.png"%} alt="" hight="400px" width="400px">


{% endblock product_details %}