
{% extends "main.html" %}
{% load static %}
{% block products %}
    
    <div class="products">
        <h1>Toate produsele</h1>
        <h3>Mai jos sunt afisate toate gama de produsele din stoc, cu statusul disponibil sau nedisponibil</h3>
        <h3>Alege unul dintre produsele de mai jos si continua pentru finalizarea comenzii.</h3>
        
    
        <div class="produse">
            {% for produs in produse %}
                <a href="{{produs.slug}}">
                    <div class="produs">
                        <div>
                            <img src = "../{{produs.poza}}" alt="" class="produs_img">
                            
                        </div>
                        <br>
                        <div>
                            <span>{{produs.pret}} RON / zi, <b style='color:{{produs.status_color}}'>{{produs.status}}</b></span>
                            <p><b>{{produs}}</b></p>
                        </div>
                        
                    </div>
                </a>
                
            {% endfor %}
            
        </div>

    
    </div>

    {% comment %} <br><br>
    <img src={% static "img/maintenance2.png"%} alt="" hight="400px" width="400px"> {% endcomment %}



{% endblock products %}