{% extends "main.html" %}
{% load static %}
{% block termeni_contract %}
    

<h1>Termeni CONTRACT  ...</h1>
<div class="termeni_contract_details" style="padding:50px; text-align: center">
    
    <h3>Art.2. OBIECTUL CONTRACTULUI </h3>
    <p><b>2.1. Obiectul contractului</b> este închirierea bunului/bunurilor (scule şi/sau echipamente) astfel cum este/sunt descris/e în procesul verbal de predare - primire anexat la prezentul contract; descriere ce trebuie să cuprindă următoarele caracteristici: starea bunului la predare şi accesoriile acestuia. Prestatorul închiriază, iar beneficiarul utilizează şi plăteşte valoarea chiriei Prestatorului. 
    </p>
    <p><b>2.2.Predarea şi primirea bunului 
    </b></p>
    <p>
        Perioada de închiriere începe cu ziua în care bunul a fost predat clientului şi consemnat în procesul verbal de predare - primire şi se termină în ziua când bunul este returnat Prestatorului tot în baza unui proces verbal de predare - primire. Bunul este predat Beneficiarului în condiţii perfecte de funcţionare şi trebuie returnat în aceeaşi stare, cu excepţia condiţiilor normale de uzură, în ziua menţionată în Anexă.
        În cazul defectării bunului în timpul utilizării, acesta va fi returnat imediat, urmând ca reprezentantul HIREMAN să identifice şi să remedieze defecţiunea. Costurile reparaţiei cad în sarcina Beneficiarului, în situaţia în care se dovedeşte că acesta a exploatat în mod necorespunzător bunul închiriat. NU SUNT ADMISE INTERVENŢII NEAUTORIZATE LA BUNURILE ÎNCHIRIATE. Prestatorul trebuie anunţat de Beneficiar, prin telefon sau adresa de email info@hireman-închirieriscule.ro despre orice incident, avarie, pagubă, transminţându-i Prestatorului şi fotografiile cu părţile afectate ale echipamentului.
        Prelungirea perioadei de închiriere se poate face doar cu preaviz înaintea datei de terminare transmis în scris de către Beneficiar. În caz contrar contractul este considerat încheiat.
        Livrarea / colectarea echipamentului se poate face de către Prestator pentru zonele din Bucureşti şi Ilfov. Pentru alte regiuni costul transportului va fi comunicat beneficiarului la încheierea contractului. 
        În cazul în care Beneficiarul decide colectarea / livrarea de la adresa Prestatorului specificată în Anexă, nu se percepe taxa de transport.
        În cazul în care Beneficiarul nu doreşte să lucreze în zilele de sâmbătă, duminică şi sărbătorile legale, este obligat să predea bunul Prestatorului vineri seara (ultima zi lucrătoare înaintea sărbătorilor) şi să-l ridice/ să fie livrat de către Prestator din nou luni dimineaţa (prima zi lucrătoare după sărbători). În caz contrar, Prestatorul va factura zilele respective ca zile normale de lucru.
        Pierderea sau distrugerea bunului – Dacă echipamentul este pierdut sau deteriorat ireparabil, Beneficiarul trebuie să înstiinţeze Prestatorul imediat ce acest eveniment apare. În această situaţie Beneficiarul trebuie să plătească către Prestator valoarea echipamentului. 
        Furtul echipamentului - În cazul în care echipamentul îi este furat, Beneficiarul va trebui să depună plângere penală şi să o comunice Prestatorului împreună cu dovada de înregistrare la secţia de poliţie.  În această situaţie, Beneficiarul va trebui să plătească valoarea echipamentului închirat, sumă cu care Beneficiarul se poate constitui parte civilă în dosarul penal deschis ca urmare a plângerii formulate de către el. În cazul invocării furtului, indiferent dacă Beneficiarul depune sau nu plângere penală, aceasta va trebui să achite despăgubirea menţionată  în prezentul articol. 
        
        </p>
   
    
</div>
    

{% endblock termeni_contract %}

