{% extends "main.html" %}
{% load static %}
{% block termeni_contract %}
    
<div id="titlu">
    <h1>Termeni CONTRACT  ...</h1>
    <span><b>Termeni si Conditii de Vanzare a Serviciilor Publice</b></span>
</div>

<div class="termeni_contract_details" style="padding:50px; text-align: center">
    
    <h3>Art.2. OBIECTUL CONTRACTULUI </h3>
    <p>
        <b>2.1. Obiectul contractului</b> este închirierea bunului/bunurilor (scule şi/sau echipamente) astfel cum este/sunt descris/e în procesul verbal de predare 
        - primire anexat la prezentul contract; descriere ce trebuie să cuprindă următoarele caracteristici: starea bunului la predare şi accesoriile acestuia. 
        Prestatorul închiriază, iar beneficiarul utilizează şi plăteşte valoarea chiriei Prestatorului. 
    </p>
    <p><b>2.2.Predarea şi primirea bunului</b></p>
    <div>
        <li>
            Perioada de închiriere începe cu ziua în care bunul a fost predat clientului şi consemnat în procesul verbal de predare - 
            primire şi se termină în ziua când bunul este returnat Prestatorului tot în baza unui proces verbal de predare - primire. 
            Bunul este predat Beneficiarului în condiţii perfecte de funcţionare şi trebuie returnat în aceeaşi stare, cu excepţia condiţiilor 
            normale de uzură, în ziua menţionată în Anexă.
        </li>
        <li>
            În cazul defectării bunului în timpul utilizării, acesta va fi returnat imediat, urmând ca reprezentantul HIREMAN să identifice şi 
            să remedieze defecţiunea. Costurile reparaţiei cad în sarcina Beneficiarului, în situaţia în care se dovedeşte că acesta a exploatat în mod 
            necorespunzător bunul închiriat. NU SUNT ADMISE INTERVENŢII NEAUTORIZATE LA BUNURILE ÎNCHIRIATE. Prestatorul trebuie anunţat de Beneficiar, 
            prin telefon sau adresa de email info@hireman-închirieriscule.ro despre orice incident, avarie, pagubă, transminţându-i Prestatorului şi 
            fotografiile cu părţile afectate ale echipamentului.
        </li>
        <li>
            Prelungirea perioadei de închiriere se poate face doar cu preaviz înaintea datei de terminare transmis în scris de către Beneficiar. 
            În caz contrar contractul este considerat încheiat.
        </li>
        <li>
            Livrarea / colectarea echipamentului se poate face de către Prestator pentru zonele din Bucureşti şi Ilfov. 
            Pentru alte regiuni costul transportului va fi comunicat beneficiarului la încheierea contractului. 
        </li>
        <li>
            În cazul în care Beneficiarul decide colectarea / livrarea de la adresa Prestatorului specificată în Anexă, nu se percepe taxa de transport.
        </li>
        <li>
            În cazul în care Beneficiarul nu doreşte să lucreze în zilele de sâmbătă, duminică şi sărbătorile legale, este obligat să predea bunul Prestatorului vineri seara 
            (ultima zi lucrătoare înaintea sărbătorilor) şi să-l ridice/ să fie livrat de către Prestator din nou luni dimineaţa (prima zi lucrătoare după sărbători). 
            În caz contrar, Prestatorul va factura zilele respective ca zile normale de lucru.
        </li>
        <li>
            Pierderea sau distrugerea bunului – Dacă echipamentul este pierdut sau deteriorat ireparabil, Beneficiarul trebuie să înstiinţeze Prestatorul imediat ce acest eveniment 
            apare. În această situaţie Beneficiarul trebuie să plătească către Prestator valoarea echipamentului. 
        </li>
        <li>
            Furtul echipamentului - În cazul în care echipamentul îi este furat, Beneficiarul va trebui să depună plângere penală şi să o comunice Prestatorului 
            împreună cu dovada de înregistrare la secţia de poliţie.  În această situaţie, Beneficiarul va trebui să plătească valoarea echipamentului închirat, 
            sumă cu care Beneficiarul se poate constitui parte civilă în dosarul penal deschis ca urmare a plângerii formulate de către el. În cazul invocării furtului, 
            indiferent dacă Beneficiarul depune sau nu plângere penală, aceasta va trebui să achite despăgubirea menţionată  în prezentul articol. 
        </li>
        
    </div>
    <h3>Art.3 DURATA CONTRACTULUI</h3>
    <div>
        <p>3.1. Prezentul contract se încheie pe perioada specificată în Anexa ataşată acestuia. 
            Prelungirea contractului se poate face cu acordul ambelor părţi prin Anexa Adiţională şi doar cu preaviz de minim o zi înaintea datei de terminare, 
            transmis în scris de către Beneficiar. În caz contrar contractul este considerat încheiat.</p>
        <p>3.2. Întârzierea în predarea bunului de către Beneficiar, are următoarele consecinţe:
            -la restituirea echipamentului, după expirarea contractului, primele două ore se vor achita 
            la tarif normal de închiriere, iar orele următoare se vor achita la preţ cu 10% majorat faţă de preţul normal.</p>
        <p>3.3. Beneficiarul este considerat de drept în întarziere cu privire la obligaţiile de plată menţionate în prezentul capitol, 
            la simpla împlinire a termenului de executare a acestor obligaţii, fară a mai fi necesară notificarea Prestatorului în acest sens. </p>
        <p>3.4. În cazul în care Beneficiarul decide restituirea echipamentului înainte de data de predare stabilită cu Prestatorul, acesta este obligat să notifice 
            Prestatorul în cel mai scurt timp posibil despre acest fapt şi să îi predea acestuia echipamentul la locul de predare - primire stabilit în prezentul contract, 
            completându-se cu această ocazie procesul verbal cu datele de predare - primire. În această situaţie Beneficiarul nu poate pretinde 
            Prestatorului restituirea sumei aferente perioadei în care nu a utilizat echipamentul. </p>
    </div>
    <h3>Art.4. PREŢUL ŞI PLATA </h3>
    <div>
        <p>4.1. Preţul total al contractului este stabilit prin anexe. Suma înscrisă în contract ca preţ nu include valoarea unor 
            posibile avarieri ale echipamentului produse pe durata închirierii. Preţul pentru folosirea bunului închiriat este calculat pe zi de lucru, 
            de luni până duminică inclusiv, în condiţiile unei funcţionări recomandate de producător. Depăşirea zilelor de lucru trebuie anunţată Prestatorului şi 
            duce la creşterea preţului închirierii. <br>
            Plata închirierii / garanţiei se va face în avans, în lei la data emiterii facturii în numerar, card, virament bancar.</p>
        <p>Plata închirierii / garanţiei se va face în avans, în lei la data emiterii facturii în numerar, card, virament bancar. 
            4.2. Pentru depăşirea termenului de plată, Beneficiarul va plăti penalităţi de întârziere de 0,5% pe zi, valoarea penalităţilor putând depăşi valoarea facturii.</p>
    </div>
    <h3>Art.5. GARANŢIA </h3>
    <div>
        <p>5.1. La închiriere, Prestatorul percepe o garanție Beneficiarului care va fi stabilită în funcție de valoarea contractului. 
            Aceasta va fi comunicată Beneficiarului la data încheierii contractului. Garanţia va fi restituită Beneficiarului la data restituirii echipamentului, 
            afară de cazul în care s-au cauzat daune care sunt imputabile Prestatorului, iar echipamentul nu prezintă deteriorări ce necesită costuri adiționale de reparație. </p>
        <p>5.2. Garanţia va fi folosită de către Prestator în momentul în care la restituirea echipamentului se constată defecţiuni apărute din vina beneficiarului. 
            Beneficiarul va primi înapoi diferenţa d între valoarea garanției şi costul reparaţiei. Daca echipamentul restituit este in condiţii bune garanţia va fi restituită 
            Beneficiarului integral.</p>
        <p>5.3. În situaţia în care s-au cauzat avarii echipamentului şi garanţia nu este suficientă pentru a acoperi prejudiciul adus Prestatorului, 
            Beneficiarul îşi asumă întreaga responsabilitate pentru plata prejudiciului şi pentru a aduce echipamentul la starea de funcţionare iniţială, 
            aşa cum a fost ea predată de Prestator prin procesul verbal de predare - primire încheiat la momentul cedării bunului spre a fi utilizat de Beneficiar. </p>
    </div>
    
</div>
    

{% endblock termeni_contract %}

